.lyric-line {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.lyric-line.active {
  font-weight: 600;
  color: var(--color-c1);
}

.lyric-line.done {
  opacity: 0.6;
}

