.verse {
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  scroll-snap-align: start;
  padding: 1rem;
  top: 0;
}

.verse:not(.scroll-ready) {
  display: none;
}

.verse-container {
  border-radius: 2rem;
  corner-shape: squircle;
  height: 100%;
  box-shadow: 0 0 1rem #00000066;
  background: var(--color-b4);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.verse-meta {
  padding: 1rem;
  background: var(--color-c3);
  color: var(--color-b4);
  flex-shrink: 0;
}

.verse-song-name {
  font-weight: 800;
  text-wrap: nowrap;
}

.verse-name {
  font-weight: 200;
  text-wrap: nowrap;
}

.verse-creators {
  font-size: 0.75rem;
  font-weight: 200;
  border-radius: 1rem;
  line-height: 1;
  display: flex;
  gap: 0.5ch;
}

.verse-contents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.verse-lyrics {
  flex-grow: 1;
  min-height: 0;
  background: var(--color-c4);
  padding: 10rem 1rem;
  overflow-y: auto;
}

.verse-controls {
  padding: 1rem;
  background: var(--color-c3);
  color: var(--color-b4);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

