.verse-options {
  overflow: hidden;
  width: 100%;
  background: var(--color-c3);
  flex-shrink: 2;
}

.verse-options.active {
  flex-shrink: 0;
}

.verse-options-content {
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 0.5rem;
  gap: 1rem;
}

