.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-b4);
  color: var(--color-c3);
}

.landing button {
  padding: 0.5rem 1rem;
  background: var(--color-c3);
  color: var(--color-b4);
  border: none;
  border-radius: 2rem;
  corner-shape: squircle;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.landing button:hover {
  background: var(--color-c2);
}

.landing button:active {
  scale: 0.9;
}

