.verses {
  --size: calc(100vh - 3rem);
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  width: 100%;
  height: var(--size);
  background: var(--color-b4);
  position: absolute;
  top: 3rem;
}

