:root {
  --color-a1: #E5E5E5;
  --color-a2: #D4D4D4;
  --color-a3: #A1A1A1;
  --color-a4: #737373;
  
  --color-b1: #525252;
  --color-b2: #404040;
  --color-b3: #262626;
  --color-b4: #171717;

  --color-c1: #E6FFFD;
  --color-c2: #CDF5FD;
  --color-c3: #A0E9FF;
  --color-c4: #00A9FF;

  --font-n: "Parkinsans", sans-serif;
  --font-m: "JetBrains Mono", monospace;
}

